{% extends 'base.html.twig' %}

{% block title %}Authenthenification - {{ parent() }}{% endblock %}

{% block body %}

    {{ parent() }}

<div class="main-container">
    <h2>Authentification</h2>

    <form action="{{ path('login_check') }}" method="post">
        <label>Identifiant : </label>
        <input type="text" name="_username"/>
        <br/>
        <label>Mot de passe : </label>
        <input type="text" name="_password"/>
        <br/>
        <button type="submit">Valider</button>

    </form>

</div>
{% endblock %}
