<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Bienuvenu sur mon journal!
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Bienuvenue sur MonJournal!</h1>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
